/* <CustomButton /> */
@import url("./czi-vars.css");

.czi-custom-buttons {
  margin: 0 8px;
  white-space: nowrap;
}

.czi-custom-button {
  background-clip: padding-box;
  background-color: var(--czi-button-bg);
  border: var(--czi-border-grey);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--czi-button-text-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--czi-font-family);
  font-size: var(--czi-font-size);
  font-weight: normal;
  line-height: 1.2em;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* Theme based styles */
.czi-custom-button.dark {
  background-color: transparent;
  border-color: transparent;
}

.czi-custom-button.light {
  border-color: transparent;
  background-color: #d8d6d6;
  color: black;
}

.czi-custom-button.dark.disabled,
.czi-custom-button.dark.disabled:hover {
  background: transparent;
  cursor: unset;
  pointer-events: none;
  -webkit-text-stroke-width: 0;
  opacity: 0.3;
}

.czi-custom-button.light.disabled,
.czi-custom-button.light.disabled:hover {
  background: transparent;
  cursor: unset;
  pointer-events: none;
  -webkit-text-stroke-width: 0;
  opacity: 0.3;
}

/* Theme based styles end */
.czi-custom-button.use-icon {
  border-color: transparent;
  padding: 0;
}

.czi-custom-button:focus,
.czi-custom-button:hover {
  background-color: var(--czi-button-hover);
  outline: none;
}

.czi-custom-button.active {
  /*
   * Use text-stroke to strengthen teh text, do not use "bold" because it will
   * cause layout reflow.
   * Firefox & Edge specifically only support the -webkit-text-stroke property.
   * https://caniuse.com/#feat=text-stroke
   */
  border-color: #666;
  background-color: #7a7a7a;
  color: var(--czi-button-text-color);
  -webkit-text-stroke-color: var(--czi-button-text-color);
  -webkit-text-stroke-width: 0.1px;
}

.czi-custom-button.pressed {
  background-color: var(--czi-button-hover);
}

.czi-custom-button.disabled,
.czi-custom-button.disabled:hover {
  color: #666;
  cursor: unset;
  pointer-events: none;
  -webkit-text-stroke-width: 0;
}

.czi-custom-buttons .czi-custom-button {
  border-radius: 0;
  margin-left: 0;
}

.czi-custom-buttons > .czi-custom-button:first-of-type {
  border-bottom-left-radius: var(--czi-button-radius);
  border-top-left-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:last-child {
  border-bottom-right-radius: var(--czi-button-radius);
  border-top-right-radius: var(--czi-button-radius);
}

.czi-custom-buttons > .czi-custom-button:only-child {
  border-radius: var(--czi-button-radius);
}

.czi-menu-drop-icon {
  font-family: "Material Icons", sans-serif !important;
  content: "\e5cc";
  display: block;
  height: 8px;
  position: absolute;
  transform: rotate(93deg);
  right: 0;
  top: 25%;
  width: 0;
  float: right;
}
